# ETL III : Soluciones

## Ejercicio 1

In [1]:
import requests
import pandas
import datetime

api = 'https://api.onairnet.xyz/assembler/etl/ej2'
headers = {"oanToken": "ZF7xNEuLAZ5DKLQAEGVUq6VquGLQdsL7"}

In [2]:
payload = requests.post(api, headers = headers)
data = payload.json()['response']

In [4]:
clean_data = []
for flight in data:
    template = {
        "id": datetime.datetime.fromtimestamp(flight['time']['scheduled']['departure']).strftime('%Y%m%d')+ '_' + flight['flight']['number'],
        "flightNumber": flight['flight']['number'],
        "flightDate": datetime.datetime.fromtimestamp(flight['time']['scheduled']['departure']).strftime('%Y-%m-%d'),
        "flightTime" : datetime.datetime.fromtimestamp(flight['time']['scheduled']['departure']).strftime('%H:%M'),
        "arrivalTime" : datetime.datetime.fromtimestamp(flight['time']['scheduled']['arrival']).strftime('%H:%M'),
        "aircraftType" : flight['aircraft']['type'],
        "aircraftPlate" : flight['aircraft']['plate'],
        "origin" : flight['origin']['code']['iata'],
        "destination" : flight['destination']['code'],
        "status" : flight['status']
    }
    
    clean_data.append(template)

Posteriormente simplemente es necesario hacer un bucle on un INSERT INTO al SQL